@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-orange-400 rounded-full font-bold text-sm md:text-xl px-4 md:px-8 py-2 md:py-3 text-white hover:bg-orange-300 active:bg-white active:text-orange-400 disabled:bg-gray-400 disabled:text-white;
}

/* pretty scroll */
.pretty-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(102, 102, 102, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}